<section class="festival-hero">
  <img
    src="assets/fest.png"
    alt="Africa Music Festival"
    class="background"
  />
  <app-navbar></app-navbar>
  <div class="overlay"></div>

  <div class="content">
    <h1>
      <span>UNCLE ACID</span>
      <small>AND THE DEABEATS</small>
    </h1>

    <p class="description">
      Africa Music Festival 2026 rassemble les plus grands artistes
      internationaux pour une expérience musicale inoubliable,
      entre rythmes africains et ambiance live exceptionnelle.
    </p>

    <button class="buy-ticket" (click)="scrollToSection('events')">
      🎟 Buy Ticket
    </button>
  </div>
</section>
